<header>
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-2">
          <div class="top-header-content">
            <div class="search-wrapper">
              <div class="search-box">
                <input type="text" placeholder="Tìm kiếm thông tin" />
                <button><span class="mdi mdi-magnify"></span></button>
              </div>
            </div>
            <div class="phone-wrapper">
              <div class="phone"><i class="mdi mdi-phone"></i><a href="tel:0907 8888 22">0907 8888 22</a></div>
            </div>
            <div class="language-wrapper">
              <div class="language">
                <div class="current">
                  <div class="item">
                    <div class="box-img"><img src="../../../assets/img/vn.png" alt="1" /></div><a>vn</a>
                  </div>
                </div>
                <div class="language-content">
                  <div class="item">
                    <div class="box-img"><img src="../../../assets/img/en.png" alt="2" /></div><a href="#">en</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="mobile">
            <div class="mobile-language"></div>
            <div class="main-header-logo"><img src="../../../assets/img/logo.png" alt="1" /></div>
            <div class="mobile-hamburger"><span></span><span></span><span></span></div>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="main-header-nav">
            <ul class="main-nav">
              <li><a href="#">Giới thiệu</a></li>
              <li><a href="#">Dự án</a>
                <ul class="sub-nav">
                  <li><a href="#">Dự án 1</a></li>
                  <li><a href="#">Dự án 2</a></li>
                  <li><a href="#">Dự án 3</a></li>
                </ul>
              </li>
              <li><a href="#">Công ty thành viên</a></li>
              <li><a href="#">Hoạt động xã hội</a></li>
              <li><a href="#">Truyền thông</a>
                <ul class="sub-nav">
                  <li><a href="#">Dự án 1</a></li>
                  <li><a href="#">Dự án 2</a></li>
                  <li><a href="#">Dự án 3</a></li>
                </ul>
              </li>
              <li><a href="#">Thư viện</a></li>
              <li><a href="#">Tuyển dụng</a></li>
              <li><a href="#">Liên hệ</a>
                <ul class="sub-nav">
                  <li><a href="#">Dự án 1</a></li>
                  <li><a href="#">Dự án 2</a></li>
                  <li><a href="#">Dự án 3</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-line"></div>
    <div class="mobile-nav-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="mobile-nav"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-backdrop"></div>
  </div>
</header>
