<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="footer-info"><i class="mdi mdi-map-marker"></i>
          <p>Căn S04 Saigon Pearl, 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, TP. HCM</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-info"><i class="mdi mdi-phone"></i>
          <p>Hotline: 0907 8888 22</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-info"><i class="mdi mdi-email"></i>
          <p>Liên hệ với chúng tôi</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-info"><i class="mdi mdi-cloud-download"></i>
          <p>Download Profile mới nhất để hiểu rõ hơn về chúng tôi</p>
        </div>
      </div>
    </div>
    <hr />
    <hr class="mt-2" />
    <div class="row table">
      <div class="col-sm-6 col-lg-3">
        <div class="footer-list">
          <h3>giới thiệu</h3>
          <ul>
            <li> <a href="#">Về TLM Corp</a></li>
            <li> <a href="#">Lịch sử phát triển</a></li>
            <li> <a href="#">Ban lãnh đạo</a></li>
            <li> <a href="#">Đối tác chiến lược</a></li>
            <li> <a href="#">Giải thưởng</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-list">
          <h3>dự án</h3>
          <ul>
            <li> <a href="#">Đã hoàn thành</a></li>
            <li> <a href="#">Đang triển khai</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-list">
          <h3>liên kết nhanh</h3>
          <ul>
            <li> <a href="#">Truyền thông</a></li>
            <li> <a href="#">Hoạt động xã hội</a></li>
            <li> <a href="#">Tuyển dụng</a></li>
            <li> <a href="#">Thư viện</a></li>
            <li> <a href="#">Liên hệ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-list">
          <h3>đăng ký nhận bản tin</h3>
          <p>Vui lòng đăng ký để nhận thông tin mới nhất từ chúng tôi</p>
          <input type="text" placeholder="Nhập email" />
          <button>đăng ký</button>
        </div>
      </div>
    </div>
    <hr />
    <hr class="mt-2" />
    <div class="media">
      <div class="media-box"><a href="#"><i class="fab fa-facebook-f"></i><span>facebook</span></a></div>
      <div class="media-box"><a href="#"><i class="fab fa-youtube"></i><span>youtube</span></a></div>
      <div class="media-box"><a href="#"><i class="fab fa-twitter"></i><span>twitter</span></a></div>
    </div>
    <div class="copyright">2019 © TLM Real Estate Corporation. Tất cả quyền đều được bào hộ. Thiết kế bởi Cánh Cam.
    </div>
  </div>
</footer>
